<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de cadastro</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .mensagem {
          background-color: rgb(182, 182, 182);
          font-size: 25px;
        }
    </style>
</head>
<body>
    <div class=mensagem>
        <h1>Obrigado!</h1>
        <p>O email <strong>{{ email }}</strong> confirmado. O usúario <strong>{{ usuario }}</strong> está ativo.</p>
    </div>
</body>
</html>